$black: #000000; 
$white: #FFFFFF; 
$orange: #EF8080;
$blue: #323264; 
$purple: #643E72; 
$linkblue: #24A3FF; 
$red:#F0145A;
$border: #E6E6F0; 
$art-print: #1D4568;
$park: #282240;
$infratek: #EAEAEA; 
$eco: #DCF3F9;
$clickky: #C71C36;
$adtelligent: #E2E2E4;
$orangear: #FD9339;
$look: #9E4DC3;
$tapgerine: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
$wanna: #143646;
$hillel: #1C4280;
$grey: #F5F5FA;
$darkgrey: rgba(255, 255, 255, 0.3);
$lightgray : #B3B3BA;





